*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
nav{
    font-family: sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    justify-content: space-between;
    position: static;
}

nav ul li{
    padding: 0 12px;
}

nav ul .one {
    display: flex;
    align-items: center;
}

nav ul .two{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.page1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.books{
  width: auto;
  height: 100%;
  background-color: white;
  margin-top: 30px;
  box-shadow: 0 1px 2px 0 rgb(209, 206, 206);
  margin: 4vw 2vw 2vw 2vw;
  padding: 0;
}
.register{
    width: 78vw;
    height: 100%;
    background-color: black;
    background-color: white;
    margin-top: 30px;
    box-shadow: 0 1px 2px 0 rgb(209, 206, 206);
    margin: 2vw 2vw 2vw 2vw;
    padding: 0;
  }

h2{
    margin-left: 2vw;
    margin-top: 2vw;
}
tr a{
    margin-left: 2vw;
    margin-top: 2vw;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    display: flex;
    margin: 2vw;
    padding: 0;
}

th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th{
    background-color: #f2f2f2;
}
.nexted-table{
    border-collapse: collapse;
    width: 100%;
    border: black;
    margin: 0;
    font-size: 14px;
}

.form-group{
    margin-bottom: 15px;
    margin: 2vw 2vw 2vw 2vw;
}

.form-group label{
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="password"],
.form-group input[type="date"] {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.form-group input[type="number"] {
    width: 95%;
    display: flex;
}
li a{
    color: white;
    text-decoration: none;
}

.butto {
    background-color: black;
    width: 78vw;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    margin-top: 2vw;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}
.butto:hover {
    background-color: black;
}

.first-name,
.last-name,
.date-of-birth,
.age,
.email,
.password,
.confirm-password{
    width: 100vw;   
}

